body {
	font-family: Helvetica,Arial,"华文黑体","Microsoft YaHei","微软雅黑","文泉驿正黑体","Simsun","宋体",sans-serif;
	font-size: 14px;
}
.relative-pos {
	position: relative !important;
}
.no-margin {
	margin: 0 !important;
}
.no-text-decoration {
	text-decoration: none !important;
}
.has-top-padding-sm {
	padding-top: 10px;
}
.has-bottom-padding-sm {
	padding-bottom: 10px;
}
.has-top-padding-md {
	padding-top: 20px;
}
.has-bottom-padding-md {
	padding-bottom: 20px;
}
.has-top-padding-lg {
	padding-top: 20px;
}
.has-bottom-padding-lg {
	padding-bottom: 20px;
}
.has-top-margin-lg {
	margin-top: 40px !important;
}
.padding-5-px {
	padding: 5px 5px;
}
.padding-horizontal-5-px {
	padding: 0 5px;
}
.black-transparent-bg {
	background-color: rgba(0, 0, 0, 0.4);
}
.navbar.navbar-inverse.transparent {
	background: rgba(20, 20, 20, 0.6) none no-repeat scroll top left;
	border-bottom: 1px none;
}
.navbar.navbar-inverse .navbar-brand {
	padding-top: 3px;
	padding-bottom: 0;
}
.navbar.navbar-inverse  ul > li > a {
	color: #DDD;	
}
.navbar.navbar-inverse li.dropdown ul.dropdown-menu {
	background-color: rgba(150, 150, 150, 0.2);
	border-top: none;
}
.navbar.navbar-inverse li.active > a {
	background-color: rgba(180, 180, 180, 0.5);
}
.top-content {
	margin-top: 10px;
	margin-bottom: 10px;
}
.primary {
	font-size: 36px;
	font-weight: 600;
	color: #FFF;
	padding-bottom: 10px;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
}
.secondary {
	font-size: 24px;
	font-weight: 600;
	color: #FFF;
	padding-bottom: 10px;
	margin-top: 1px;
}
.thirdary {
	font-size: 16px;
	color: #FFF;
}
.forthary {
	font-size: 14px;
	color: #FFF;
}
.center-align {
	text-align: center;
}
.top-content .button-panel {
	margin-top: 30px;
}
.top-content .button-panel button {
	margin-left: 15px;
	margin-right: 15px;
	padding: 10px 25px;
	font-size: 18px;
}
.no-margin-bottom {
	margin-bottom: 0;	
}
.mid-content {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sub-mid-content {
	color: #EEE;
	vertical-align: bottom;
}
.mid-content .sub-mid-content > img {
	height: 36px;
	display: inline-block;
	margin-right: 5px;
}
.sub-mid-content .primary {
	font-size: 24px;
}
.sub-mid-content .secondary {
	font-size: 18px;
}
.mid-content .sub-mid-content .description {
	margin-left: 35%;
	margin-top: 10px;
	margin-right: 15%;
}
.mid-content .sub-mid-content .flow-chart {
	margin-left: 35%;
	margin-top: 10px;
	text-align: left;
}
.icon-panel {
	margin-top: 8px;
	margin-bottom: 8px;
}
.icon-panel .img {
	margin-left: 3px;
	margin-right: 3px;
}
.bottom-content {
	margin-top: 20px;
}
.bottom-content .featured-trip:hover {
	box-shadow: 2px 2px 3px #444 !important;
}
.full-width-content {
	width: 100%;
	position: relative;
}
.featured-trip img, .trip-title img {
	width: 100%;
}
.featured-trip .view-link {
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}
.featured-trip .trip-title {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	margin: 5px 5px;
}
.trip-title .thirdary,
.trip-title.thirdary {
	font-size: 16px;
	color: #EEE;
	line-height: 1.5;
}
.full-width-content .featured-trip .trip-title {
	text-align: left;
}
.full-width-content .trip-title .thirdary,
.full-width-content .trip-title.thirdary,
.full-width-content .trip-title .forthary,
.full-width-content .trip-title.forthary {
	padding-left: 60px;
}
.q-right-to-icon {
	margin-left: 65px;
	margin-top: 10px;
}
img.q-check-mark {
	margin-left: 15%;
	vertical-align: middle;
}
label.style-radio, label.style-checkbox {
	cursor: pointer;
}
.style-radio {
	padding-left: 30px;
	background: url("../resources/img/icons/lightgray_unchecked_radio_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin-right: 30px;
	margin-bottom: 10px;
}
.style-radio input[type="radio"], .style-checkbox input[type="checkbox"] {
	left: -9999px;
	position: absolute;
	height: 0;
	width: 0;
}
.checked-radio {
	background: url("../resources/img/icons/green_check_radio_button.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}
.style-checkbox {
	margin-bottom: 10px;
	padding: 8px 25px;
	background-color: #444;
	margin-right: 5px;
	border-radius: 3px;
}
.checked-box {
	background: url("../resources/img/icons/blue_tri_check_mark.png") no-repeat scroll right bottom #1986FF;
}
.with-normal-box-shadow {
	box-shadow: 2px 2px 3px #444;
}