@media only screen
and (min-device-width: 320px)
and (max-device-width: 600px) {
	body.landing-page .mobile-bg {
		background-image: url("../resources/img/background/main_bg.jpg");
	}
	body.customize-page .mobile-bg {
		background-image: url("../resources/img/background/bridge.jpg");
	}
	body.theme-park-page .mobile-bg {
		background-image: url("../resources/img/background/theme_park_bg_1.jpg");
	}
	body.national-park-page .mobile-bg {
		background-image: url("../resources/img/background/national_parks_bg_2.jpg");
	}
	body.road-trip-page .mobile-bg {
		background-image: url("../resources/img/background/self_drive_tour_bg.jpg");
	}
	body.food-page .mobile-bg {
		background-image: url("../resources/img/background/food_wine_tour.jpg");
	}
	body.cruise-page .mobile-bg {
		background-image: url("../resources/img/background/cruise_bg.jpg");
	}
	body.movie-page .mobile-bg {
		background-image: url("../resources/img/background/movie_bg.jpg");
	}
	body.photo-page .mobile-bg {
		background-image: url("../resources/img/background/photo_bg.jpg");
	}
	body.smalltown-page .mobile-bg {
		background-image: url("../resources/img/background/smalltown_bg.jpg");
	}
	body.wedding-page .mobile-bg {
		background-image: url("../resources/img/background/wedding_bg.jpg");
	}
	body.disneyland-page .mobile-bg {
		background-image: url("../resources/img/background/disneyland_bg.jpg");
	}
	body.harryporter-page .mobile-bg {
		background-image: url("../resources/img/background/harryporter_bg.jpg");
	}
	body.universal-page .mobile-bg {
		background-image: url("../resources/img/background/universal_bg.jpg");
	}
	body.hollywoodstudios-page .mobile-bg {
		background-image: url("../resources/img/background/hollywoodstudios_bg.jpg");
	}
	body.epcot-page .mobile-bg {
		background-image: url("../resources/img/background/epcot_bg.jpg");
	}
	body.animalkingdom-page .mobile-bg {
		background-image: url("../resources/img/background/animalkingdom_bg.jpg");
	}
	body.seaworld-page .mobile-bg {
		background-image: url("../resources/img/background/seaworld_bg.jpg");
	}
	body.magickingdom-page .mobile-bg {
		background-image: url("../resources/img/background/magickingdom_bg.jpg");
	}
	body.cahwy1-page .mobile-bg {
		background-image: url("../resources/img/background/cahwy1_bg.jpg");
	}
	body.route66-page .mobile-bg {
		background-image: url("../resources/img/background/route66_bg.jpg");
	}
	body.common-bg .mobile-bg {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: top left;
		z-index: -1;
	}
	#customize-map, #national-park-map, #road-trip-photo-wall {
		min-height: 300px;
	}
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
	body.landing-page .mobile-bg {
		background-image: url("../resources/img/background/main_bg.jpg");
	}
	body.customize-page .mobile-bg {
		background-image: url("../resources/img/background/bridge.jpg");
	}
	body.theme-park-page .mobile-bg {
		background-image: url("../resources/img/background/theme_park_bg_1.jpg");
	}
	body.national-park-page .mobile-bg {
		background-image: url("../resources/img/background/national_parks_bg_2.jpg");
	}
	body.road-trip-page .mobile-bg {
		background-image: url("../resources/img/background/self_drive_tour_bg.jpg");
	}
	body.food-page .mobile-bg {
		background-image: url("../resources/img/background/food_wine_tour.jpg");
	}
	body.cruise-page .mobile-bg {
		background-image: url("../resources/img/background/cruise_bg.jpg");
	}
	body.movie-page .mobile-bg {
		background-image: url("../resources/img/background/movie_bg.jpg");
	}
	body.photo-page .mobile-bg {
		background-image: url("../resources/img/background/photo_bg.jpg");
	}
	body.smalltown-page .mobile-bg {
		background-image: url("../resources/img/background/smalltown_bg.jpg");
	}
	body.wedding-page .mobile-bg {
		background-image: url("../resources/img/background/wedding_bg.jpg");
	}
	body.disneyland-page .mobile-bg {
		background-image: url("../resources/img/background/disneyland_bg.jpg");
	}
	body.harryporter-page .mobile-bg {
		background-image: url("../resources/img/background/harryporter_bg.jpg");
	}
	body.universal-page .mobile-bg {
		background-image: url("../resources/img/background/universal_bg.jpg");
	}
	body.hollywoodstudios-page .mobile-bg {
		background-image: url("../resources/img/background/hollywoodstudios_bg.jpg");
	}
	body.epcot-page .mobile-bg {
		background-image: url("../resources/img/background/epcot_bg.jpg");
	}
	body.animalkingdom-page .mobile-bg {
		background-image: url("../resources/img/background/animalkingdom_bg.jpg");
	}
	body.seaworld-page .mobile-bg {
		background-image: url("../resources/img/background/seaworld_bg.jpg");
	}
	body.magickingdom-page .mobile-bg {
		background-image: url("../resources/img/background/magickingdom_bg.jpg");
	}
	body.cahwy1-page .mobile-bg {
		background-image: url("../resources/img/background/cahwy1_bg.jpg");
	}
	body.route66-page .mobile-bg {
		background-image: url("../resources/img/background/route66_bg.jpg");
	}
	body.common-bg .mobile-bg {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: top left;
		z-index: -1;
	}
	#customize-map, #national-park-map, #road-trip-photo-wall {
		min-height: 350px;
	}
}
@media (min-device-width:769px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	body.landing-page {
		background-image: url("../resources/img/background/main_bg.jpg");
	}
	body.customize-page {
		background-image: url("../resources/img/background/bridge.jpg");
	}
	body.theme-park-page {
		background-image: url("../resources/img/background/theme_park_bg_1.jpg");
	}
	body.national-park-page {
		background-image: url("../resources/img/background/national_parks_bg_2.jpg");
	}
	body.road-trip-page {
		background-image: url("../resources/img/background/self_drive_tour_bg.jpg");
	}
	body.food-page {
		background-image: url("../resources/img/background/food_wine_tour.jpg");
	}
	body.cruise-page {
		background-image: url("../resources/img/background/cruise_bg.jpg");
	}
	body.movie-page {
		background-image: url("../resources/img/background/movie_bg.jpg");
	}
	body.photo-page {
		background-image: url("../resources/img/background/photo_bg.jpg");
	}
	body.smalltown-page {
		background-image: url("../resources/img/background/smalltown_bg.jpg");
	}
	body.wedding-page {
		background-image: url("../resources/img/background/wedding_bg.jpg");
	}
	body.disneyland-page {
		background-image: url("../resources/img/background/disneyland_bg.jpg");
	}
	body.harryporter-page {
		background-image: url("../resources/img/background/harryporter_bg.jpg");
	}
	body.universal-page {
		background-image: url("../resources/img/background/universal_bg.jpg");
	}
	body.hollywoodstudios-page {
		background-image: url("../resources/img/background/hollywoodstudios_bg.jpg");
	}
	body.epcot-page {
		background-image: url("../resources/img/background/epcot_bg.jpg");
	}
	body.animalkingdom-page {
		background-image: url("../resources/img/background/animalkingdom_bg.jpg");
	}
	body.seaworld-page {
		background-image: url("../resources/img/background/seaworld_bg.jpg");
	}
	body.magickingdom-page {
		background-image: url("../resources/img/background/magickingdom_bg.jpg");
	}
	body.cahwy1-page {
		background-image: url("../resources/img/background/cahwy1_bg.jpg");
	}
	body.route66-page {
		background-image: url("../resources/img/background/route66_bg.jpg");
	}
	body.common-bg {
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: top left;
		background-size: 100% auto;
		min-height: 768px;
		z-index: -1;
	}
	#customize-map, #national-park-map, #road-trip-photo-wall {
		min-height: 400px;
	}
}